body {
    background-color: aliceblue;
}
header {
    text-align: center;
    background-color: rgba(89, 124, 255, 81%);
    padding: 20px;
    text-align: center;
    font-size: 1vw;
    font-family: Courier New;
    color: black;
}

nav {
    position: fixed;
    float: left;
    width: 40px;
    height: 50em; 
    background: rgba(56, 182, 255, 20%);
    padding: 20px;
}

footer {
    background-color: rgba(246, 135, 18, 20%);
    padding: 10px;
    text-align: center;
    color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

#right {
    float: right;
    height: 50em; 
    background: rgba(56, 182, 255, 20%); 
}

#section2 {
    float: left;
    padding: 20px;
    width: 70%;
    margin-left: auto; 
    margin-right: auto;
}